# Entorno Virtual
.venv/
/venv/
env/
/env/
.env

# Archivos compilados de Python
*.pyc
__pycache__/

# Archivos de base de datos
*.sqlite3
db.sqlite3

# Archivos de debug
debug_page.html
static/debug_screenshots/*.png
static/debug_screenshots/*.html
static/debug_screenshots/*.txt

# Archivos de IDEs
.idea/
.vscode/